//==============================
// Margin and Padding
//==============================
$spaceAmounts: (1, 2, 4, 6, 8);
@each $space in $spaceAmounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .mx-#{$space} {
    margin: 0 #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  .ml-#{$space} {
    margin-left: #{$space}rem;
  }
  .mr-#{$space} {
    margin-right: #{$space}rem;
  }
  .p-#{$space} {
    padding: #{$space}rem;
  }
  .px-#{$space} {
    padding: 0 #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
  .pl-#{$space} {
    padding-left: #{$space}rem;
  }
  .pr-#{$space} {
    padding-right: #{$space}rem;
  }
}
