.container {
  min-height: 78vh;
  color: $grey-l1;
}
.box {
  font-family: "Jost", sans-serif;
  min-height: 100vh;
  background: $color-pd;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  & > * {
    margin-bottom: 2rem;
  }
  &__img {
    width: 40%;
    display: block;
  }
  &__btn {
    &,
    &:link,
    &:active {
      color: inherit;
      font-size: 2.4rem;
      background: $color-se;
      text-decoration: none;
      padding: 0.8rem 1.6rem;
      border-radius: 12px;
      transition: $transition-s;
    }
    &:hover {
      background: $color-sl;
      transform: scale(1.05);
    }
  }
  &__quote {
    width: 80%;
    text-align: justify;
    font-size: 1.8rem;
    background: $color-pr;
    padding: 1rem 2rem;
    border: 2px solid $color-pd;
    border-radius: 1rem;
    &::before,
    &::after {
      content: '"';
      font-size: 1.2em;
    }
  }
  &__author {
    font-size: 3rem;
    align-self: flex-end;
    margin-right: 3rem;
    &::before {
      content: "-";
      margin-right: 0.5rem;
    }
  }
}
