//==========================================
// Color Palette
//==========================================
$color-pl: #06717f;
$color-pr: #044856;
$color-pd: #022e38;

$color-sl: #d84b59;
$color-se: #bf424f;
$color-sd: #793f4e;

$black: #000000;
$white: #ffffff;

// Grey Dark
$grey-d1: #7a7e83;
$grey-d2: #343a40;
$grey-d3: #23272b;

// Grey Light
$grey-l1: #f7f7f7;
$grey-l2: #eeeeee;
$grey-l3: #e2e6ea;

//==========================================
// Box-Shadows
//==========================================
$shadow-s: 0 0.5rem 1rem rgba($black, 0.2);
$shadow-m: 0 0.5rem 1rem rgba($black, 0.5);
$shadow-l: 0 0.5rem 1rem rgba($black, 0.9);

//==========================================
// transition
//==========================================
$transition-s: all 0.2s linear;
$transition-m: all 0.5s linear;
$transition-l: all 1s linear;

//==========================================
// CSS Custom Property
//==========================================
/*
:root {
  --color-pl: #06717f;
  --color-pr: #044856;
  --color-pd: #022e38;

  --color-sl: #d84b59;
  --color-se: #bf424f;
  --color-sd: #793f4e;

  --black: #000000;
  --white: #ffffff;

  // Grey Dark
  --grey-d1: #7a7e83;
  --grey-d2: #343a40;
  --grey-d3: #23272b;

  // Grey Light
  --grey-l1: #f7f7f7;
  --grey-l2: #eeeeee;
  --grey-l3: #e2e6ea;

  // Box Shadow
  --shadow-s: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  --shadow-m: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  --shadow-l: 0 0.5rem 1rem rgba(0, 0, 0, 0.9);
  // Transitions
  --transition-s: all 0.2s linear;
  --transition-m: all 0.5s linear;
  --transition-l: all 1s linear;
}
*/
