//==========================================
// Color Palette
//==========================================
$color-pl: #06717f;
$color-pr: #044856;
$color-pd: #022e38;

$color-sl: #d84b59;
$color-se: #bf424f;
$color-sd: #793f4e;

$black: #000000;
$white: #ffffff;

// Grey Dark
$grey-d1: #7a7e83;
$grey-d2: #343a40;
$grey-d3: #23272b;

// Grey Light
$grey-l1: #f7f7f7;
$grey-l2: #eeeeee;
$grey-l3: #e2e6ea;

//==========================================
// Grid
//==========================================
$grid-width: 132rem;
$gutter-horizontal: 6rem; // grid horizontal margin/padding
$gutter-vertical: 8rem; // grid vertical margin/padding
$row-padding: 8rem 6rem;

//==========================================
// Box-Shadows
//==========================================
$shadow-s: 0.25rem 0.5rem 1rem rgba($grey-d3, 0.2);
$shadow-m: 0.25rem 0.5rem 1rem rgba($grey-d3, 0.5);
$shadow-l: 0.25rem 0.5rem 1rem rgba($grey-d3, 0.9);

//==========================================
// Transition
//==========================================
$transition-s: all 0.3s linear;
$transition-m: all 0.5s linear;
$transition-l: all 0.7s linear;

//==========================================
// Additional
//==========================================
$space-s: 1.2rem;
$space-m: 1.6rem;
$space-l: 2.4rem;
$space-xxl: 3.6rem;

//==========================================
// CSS Custom Property
//==========================================
/*
:root {
  --color-pl: #06717f;
  --color-pr: #044856;
  --color-pd: #022e38;

  --color-sl: #d84b59;
  --color-se: #bf424f;
  --color-sd: #793f4e;

  --black: #000000;
  --white: #ffffff;

  // Grey Dark
  --grey-d1: #7a7e83;
  --grey-d2: #343a40;
  --grey-d3: #23272b;

  // Grey Light
  --grey-l1: #f7f7f7;
  --grey-l2: #eeeeee;
  --grey-l3: #e2e6ea;

  // Grid
  --grid-width: 132rem;
  --gutter-horizontal: 6rem; // grid horizontal margin/padding
  --gutter-vertical: 8rem; // grid vertical margin/padding
  --row-padding: 8rem 6rem;

  // Box-Shadows
  --shadow-s: 0.25rem 0.5rem 1rem rgba($grey-d3, 0.2);
  --shadow-m: 0.25rem 0.5rem 1rem rgba($grey-d3, 0.5);
  --shadow-l: 0.25rem 0.5rem 1rem rgba($grey-d3, 0.9);

  // Transition
  --transition-s: all 0.3s linear;
  --transition-m: all 0.5s linear;
  --transition-l: all 0.7s linear;

  // Additional
  --space-s: 1.2rem;
  --space-m: 1.6rem;
  --space-l: 2.4rem;
  --space-xxl: 3.6rem;
}
*/
