//==========================================
// Grid
//==========================================
$grid-width: 132rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

.row-fluid {
  max-width: $grid-width;
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
}
