.nav {
  background: $color-pr;
  color: $grey-l1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  &__logo {
    display: block;
    margin: 0.8rem 1.6rem;
    width: 5rem;
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    list-style-position: inside;
    margin-right: 2rem;
  }
  &__link {
    &,
    &:link,
    &:active {
      color: inherit;
      text-decoration: none;
      height: 100%;
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      transition: $transition-s;
    }
    &:hover {
      background-color: $color-sl;
    }
    &:active,
    &:focus {
      color: $color-pd;
    }
  }
}
